{{- define "content" -}}

  <style>
    html > body {
      font-size: 15px;
      font-weight: 400;
    }
    .content {
      margin: 0 auto;
    }
    .wiki-category-name {
      float: right;
      text-align: right;
      word-wrap: break-word;
    }
    .wiki-category-list li.pagelist {
      width: 85%;
      margin-right: 1.5em;
    }

    li {
      display: list-item;
      text-align: -webkit-match-parent;
    }

    .wiki-category-list ul {
      padding-left: 1em;
    }

    .wiki-category {
      border-bottom: 1px solid #ccc;
      min-height: 3em;
    }

    .wiki-category:last-child {
      border-bottom: none;
    }

    .wiki-category-list ul li {
      margin-top: 0;
    }

    .wiki-category-name {
      margin-top: 0;
    }

    .wiki-collection {
      font-weight: 500;
    }

    @media only screen and (max-width: 1000px) {
      /*主内容700px宽度*/
      #toc {
        display: none;
      }
    }

    .wiki-category-name {
      padding-top: 100px;
      margin-top: -100px;
    }

    #TableOfContents {
      margin-top: 40px;
    }

    #wiki-content a {
      color: #333333;
      font-family: -apple-system, system-ui, Segoe UI, Roboto, Ubuntu, Cantarell,
      Noto Sans, sans-serif, BlinkMacSystemFont, Helvetica Neue, PingFang SC,
      Hiragino Sans GB, Microsoft YaHei, Arial;
      font-weight: 400;
    }
    body.colorscheme-dark #wiki-content a {
      color: #dadada;
    }
  </style>

  <section id="start">
    <section id="body-wrapper">
      <div style="max-width:768px;margin: 0 auto;" id="wiki-content">
        {{- $sch_all_dir_kv := newScratch -}}
        {{/* 记录所有的文件夹  */}}
        {{- $sch_all_names := newScratch -}}
        {{/*  遍历wiki下的目录  */}}
        {{- range (readDir "/content/wiki/") -}}
          {{- if .IsDir -}}
            {{/* 当前目录的名称，后续拼接地址需要  */}}
            {{- $dirName := .Name -}}
            {{/* 生成一个map:{ Name:目录名    }  */}}
            {{- $sch_dir_item :=  newScratch -}}
            {{- $sch_dir_item.Set "Name" .Name -}}
            {{/* 记录所有的文件夹  */}}
            {{- $sch_all_names.Add "names" (slice .Name) -}}
            {{/* 记录所有的子分类名称  */}}
            {{- $sch_collection_names :=  newScratch -}}
            {{/* 记录子分类字典  key:文章title value:地址  */}}
            {{- $sch_collection_post_kvs :=  newScratch -}}
            {{/* 记录分类和title的关系 分类: [title1,title2]*/}}
            {{ $sch_collection_kvs :=  newScratch }}
            {{/* 遍历子文件夹,例如大分类 iOS*/}}
            {{- range (readDir (printf "/content/wiki/%s" .Name) ) -}}
              {{- if .IsDir -}}
                {{/* 如果有子目录,遍历内容 */}}
                {{ $ssFolderName := .Name }}
                {{- range (readDir (printf "/content/wiki/%s/%s" $dirName .Name)) -}}
                  {{- with $.Site.GetPage (printf "/wiki/%s/%s/%s" $dirName $ssFolderName .Name) -}}
                    {{- $sch_collection_post_kvs.Set .Title  .Permalink -}}
                    {{/*md的title*/}}
                    {{- $title :=  .Title -}}
                    {{/*获取分类collection字段的参数,没有参数则当做空来处理: 处理结果,如果有collection则collection优先,如果没有，则按子目录分配。
                    可以将判断去掉,以实现按子目录分类（子目录里面的让collection失效）*/}}
                    {{/*{{- with .Params.collection -}}*/}}
                    {{/*{{- $sch_collection_names.Add "names"  (slice . ) -}}*/}}
                    {{/*{{- $sch_collection_kvs.Add . (slice $title ) -}}*/}}
                    {{/*{{- else -}}*/}}
                    {{- $sch_collection_names.Add "names" (slice $ssFolderName ) -}}
                    {{- $sch_collection_kvs.Add $ssFolderName (slice $title ) -}}
                    {{/*{{- end -}}*/}}
                  {{- end -}}
                {{- end -}}
              {{ else }}
                {{/* 获取文件的详情。从这里入手,可以判断下是否是目录。 */}}
                {{- with $.Site.GetPage (printf "/wiki/%s/%s" $dirName .Name) -}}
                  {{- $sch_collection_post_kvs.Set .Title  .Permalink -}}
                  {{/*md的title*/}}
                  {{- $title :=  .Title -}}
                  {{/*获取分类collection字段的参数,没有参数则当做空来处理*/}}
                  {{- with .Params.collection -}}
                    {{- $sch_collection_names.Add "names"  (slice . ) -}}
                    {{- $sch_collection_kvs.Add . (slice $title ) -}}
                  {{- else -}}
                    {{- $sch_collection_kvs.Add "" (slice $title ) -}}
                  {{- end -}}
                {{- end -}}
              {{ end }}
            {{- end -}}
            {{- $sch_dir_item.Set "sch_collection_names" $sch_collection_names -}}
            {{ $sch_dir_item.Set "sch_collection_post_kvs" $sch_collection_post_kvs }}
            {{- $sch_dir_item.Set "sch_collection_kvs" $sch_collection_kvs -}}
            {{- $sch_all_dir_kv.Set .Name $sch_dir_item -}}
            {{- $sch_collection_names   = newScratch -}}
            {{- $sch_collection_post_kvs =  newScratch -}}
            {{- $sch_collection_kvs =  newScratch -}}
          {{- end -}}
        {{- end -}}
        <!-- 忽略大小写排序 -->
        {{- $.Scratch.Delete "lower_titles" -}}
        {{- range $sch_all_names.Get "names" -}}
          {{- $.Scratch.Add "lower_titles" (slice ( lower . ) ) -}}
        {{- end -}}

        {{- range sort ($.Scratch.Get "lower_titles") -}}
          {{- $lower_int := . -}}
          {{- range sort ($sch_all_names.Get "names") -}}
            {{- if eq $lower_int (lower .) -}}
              <div class="wiki-category">
                <h3 class="wiki-category-name" id="{{- lower . -}}">{{.}}</h3>
                <div class="wiki-category-list">
                  <ul>
                    {{- $item := $sch_all_dir_kv.Get . -}}
                    {{-  $sch_collection_kvs := $item.Get "sch_collection_kvs" -}}
                    {{-  $sch_collection_post_kvs := $item.Get "sch_collection_post_kvs" -}}
                    {{-  $sch_collection_names := $item.Get "sch_collection_names" -}}
                    {{- range sort ($sch_collection_kvs.Get "") -}}

                      <li class="pagelist">
                        <a href="{{ $sch_collection_post_kvs.Get . }}">{{.}}</a>
                      </li>
                    {{- end -}}

                    {{- range sort (uniq ($sch_collection_names.Get "names")) -}}
                      <li class="pagelist">
                        <span class="wiki-collection">{{- . -}}&nbsp;:&nbsp;</span>
                        {{- $lxist := sort ($sch_collection_kvs.Get . ) -}}
                        {{- range $index, $element := $lxist -}}
                          {{ if not (eq  $index 0 )}}
                            &nbsp;/&nbsp;
                          {{ end }}
                          <a href="{{ $sch_collection_post_kvs.Get . }}">{{ $element }}</a>
                        {{- end -}}
                      </li>
                    {{- end -}}
                  </ul>
                </div>
              </div>
            {{- end -}}
          {{- end -}}
        {{- end -}}

      </div>


      <script>
        window.onload = function (e) {
          let orgHtmls = document.querySelectorAll('.wiki-category-name');
          let titles = [];
          for (let item of orgHtmls) {
            titles.push(item.innerHTML)
          }
          let html = '<div id="toc" style="padding-top:1rem;padding-right: 40px;overflow: auto;left: calc(50% + 420px);" class="sidebar-content toc-fixed"><nav id="TableOfContents"><ul>';
          for (let title of titles) {
            html += `<li><a href="#${title.toLowerCase()}">${title}</a></li>`;
          }
          html += '</ul></nav></div>';
          document.getElementById('wiki-content').insertAdjacentHTML('afterend', html);

          window.addEventListener("scroll", function (e) {
            let scrollTop = window.pageYOffset;
            for (let i = 0; i < orgHtmls.length; i++) {
              const seg = orgHtmls[i];
              let nextSeg = orgHtmls.length > i + 1 ? orgHtmls[i + 1] : null;
              let currentTag = null;
              if (nextSeg) {
                if (scrollTop > seg.offsetTop - 40 && scrollTop < nextSeg.offsetTop) {
                  currentTag = seg;
                }
              } else {
                if (scrollTop > seg.offsetTop - 40) {
                  currentTag = seg;
                }
              }
              if (currentTag) {
                let element = document
                        .getElementById("toc")
                        .querySelectorAll("a");
                for (const ele of element) {
                  ele.classList.remove("highlighted");
                }
                let ele2 = document
                        .getElementById("toc")
                        .querySelector("a[href='#" + seg.id + "']");
                if (ele2) {
                  ele2.classList.add("highlighted");
                }
              }
            }
          });
        }
      </script>
    </section>
  </section>
{{ end }}
